{:kotoba.app/id "cloud.itonami.isic-9521", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifmrbp2x3xcja2qwoodsq2zump73pikylrwccxslkz6mkson3bmhq", :kotoba.app/embed-url "ipfs://bafkreifmrbp2x3xcja2qwoodsq2zump73pikylrwccxslkz6mkson3bmhq", :published {:archive "https://kotobase.net/ipfs/bafkreifmrbp2x3xcja2qwoodsq2zump73pikylrwccxslkz6mkson3bmhq", :size 74332, :put-status 201, :get-status 200, :at "2026-08-15T13:47:37.533Z"}}
